<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Mecanica Basica
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Qué es la mecánica automotriz<br>
                    La mecánica automotriz estudia la generación del movimiento y la forma en que se transmite en los
                    vehículos. Para esto en los talleres es necesario conocer y manejar todas las partes del automóvil,
                    pero
                    especialmente las piezas que se encargan de ese movimiento y la interacción con cada uno de los
                    sensores
                    y componentes de seguridad e integralidad del mismo. <br>
                    Componentes generales de la mecánica automotriz <br>
                    Como componentes y mecanismos generales que se deben tratar en todo taller cuando se habla
                    específicamente de mecánica automotriz, encontramos las siguientes: <br>
                    <b>Motor.</b> En esta pieza se genera el movimiento a partir de la transformación de un tipo de
                    energía,
                    que se
                    obtiene de combustibles fósiles y en los últimos años de otras como el gas licuado de petróleo, el
                    gas
                    natural comprimido o la electricidad, en energía mecánica.
                    Los motores que en este momento más se utilizan en los vehículos son los de combustión interna por
                    gasolina o diésel como combustible y la energía mecánica se traduce en una fuerza que produce el
                    movimiento del vehículo. <br>
                    <b>Correa o cadena de distribución.</b> Se encarga de la sincronización del motor controlando la
                    relación del
                    tiempo de apertura y cierre de las válvulas con respecto al movimiento del cigüeñal.
                    Es un método de transmisión de la energía mecánica entre un piñón de arrastre y otro arrastrado que
                    tiene un sistema dentado en las dos piezas para que ninguna se desplace, enlazando un generador de
                    movimiento con un receptor por medio de poleas y piñones. <br>
                    <b>Árbol de levas.</b> Se encarga de regular el movimiento de las válvulas de admisión y escape, de
                    manera que
                    es una de las piezas responsable en gran parte del rendimiento del motor. Se trata de un mecanismo
                    formado por un eje que tiene a su alrededor distintas levas con diferentes formas, tamaños y
                    orientación, que sirven para activar diferentes mecanismos a intervalos repetitivos. <br>
                    <b>Elementos de transmisión</b>. Entre los elementos de transmisión asociados a la mecánica
                    automotriz
                    tenemos
                    el embrague, que permite al conductor controlar el momento de permitir o interrumpir la transmisión
                    de
                    la potencia desde el motor a las ruedas. <br>
                    El otro elemento de transmisión es la caja de cambios, que se encarga de sacar de las ruedas el par
                    motor necesario para que un vehículo se mueva cuando está detenido, además mantiene ese movimiento
                    reduciendo o aumentando las revoluciones del motor. Otra de sus funciones es invertir el sentido de
                    giro
                    de las ruedas (dar reversa) cuando se requiera. <br>
                    <b>Eje de transmisión (cardan).</b> Es una pieza diseñada para transmitir el movimiento del motor a
                    las
                    ruedas.
                    Del eje de transmisión dependen los procesos para obtener potencia, ayudando en el proceso de
                    transformar la energía del combustible en trabajo mecánico, además es el responsable de regular y
                    controlar las válvulas de escape y admisión para que estén abiertas mayor o menor tiempo, en
                    intervalos
                    semejantes. <br>
                    <b>Diferencial.</b> También conocido como grupo cónico-diferencial. Su función es repartir la
                    potencia
                    del
                    movimiento a las ruedas, permitiendo que las llantas derechas o izquierdas del vehículo giren a
                    diferente velocidad cuando tomen una curva. <br>
                    En un taller de mecánica automotriz se trabaja con estos elementos básicos y todos los periféricos y
                    piezas involucradas, teniendo en cuenta además que el mundo del automóvil trabaja constantemente
                    para
                    mejorar cada uno de estos sistemas.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Mecanica Especializada
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Talleres de mecánica especializada. <br>
                    Son los establecimientos que se dedican a ofrecer servicios más especializados ya sea mantenimiento,
                    reparación o instalación de nuevos accesorios en el vehículo. Algunos ejemplos de talleres
                    especializados pueden ser: <br>

                    Taller de pintura y chapistería:
                    Especializados en pintura y carrocería del automóvil ya sea reparación, sustitución o acoplamiento
                    de
                    nuevos componentes. <br>

                    Taller mecánico- eléctrico por autómatas:
                    Especializados en sistemas automotrices motivados por autómatas con personal cualificado y
                    herramientas
                    especiales para determinados vehículos y sistemas. <br>

                    Taller de accesorios, sonido y alarma:
                    Especializados en accesorios especiales y/o exclusivos. <br>

                    Talleres de Concesionario:
                    La mayoría de concesionarios de una o varias marcas de automóviles tienen un taller especializado
                    para
                    los automóviles de esta determinada marca o marcas. Confrontan un taller con técnicos especialistas
                    en
                    todas o casi todas las áreas y equipados con maquinaria específica.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    A Domicilio
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    el taller ofrece la funcionalidad de mandarle a los clientes un mecanico para ayudarlo en caso de
                    que el
                    cliente se quede barado en algun lugar o necesesite que el mecanico vaya a casa para alguna
                    reparacion
                    sencilla
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    Revisiones Automotriz
                </button>
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    revision general de carros
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingfive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    SOAT
                </button>
            </h2>
            <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Seguro Obligatorio de Accidentes de Tránsito (SOAT). Esto significa que no solo repara los daños
                    causados al asegurado propietario del vehículo, sino que, ante una eventualidad de esta naturaleza,
                    se
                    ven beneficiados también los acompañantes, pasajeros y peatones involucrados. <br>
                    Este seguro, independientemente de quién haya sido responsable de causar el accidente, cubre el
                    traslado
                    y movilización de las víctimas al centro de salud, los gastos médicos, farmacéuticos, hospitalarios
                    (rehabilitaciones, prótesis) o quirúrgicos a que hubiere lugar, las indemnizaciones por incapacidad
                    permanente y hasta gastos funerarios en caso de muerte (compensación a beneficiarios, exequias,
                    entierro)
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingsix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                    Desinfección
                </button>
            </h2>
            <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    metodos de limpieza profunda de el auto, limpiando los cogines, tapetes, tapas etc
                    se limpia tanto por fuera como por dentro
                </div>
            </div>
        </div>
    </div>
</div>