<div class="container">
    <form class="row g-3">
        <div class="col-md-6">
            <input type="text" class="form-control" id="buscar">
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">BUSCAR</button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Cedula</th>
                <th scope="col">Telefono</th>
                <th scope="col">Edad</th>
                <th scope="col">Sexo</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">tipo</th>
                <th scope="col">Cilindaraje</th>
                <th scope="col">Placa</th>
                <th scope="col">Color</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>leider</td>
                <td>avila</td>
                <td>23907428</td>
                <td>23097492</td>
                <td>21</td>
                <td>M</td>
                <td>mazda</td>
                <td>2015</td>
                <td>cx</td>
                <td>200</td>
                <td>ads456</td>
                <td>rojo</td>
            </tr>
        </tbody>
    </table>
</div>