<div class="container">
    <p style="text-align: center;"><b>COTIZACION</b></p>
    <hr>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido">
        </div>
        <div class="col-4">
            <label for="ncedula" class="form-label">Numero de cedula</label>
            <input type="text" class="form-control" id="ncedula">
        </div>
        <div class="col-8">
            <label for="ntelefono" class="form-label">Telefono</label>
            <input type="number" class="form-control" id="ntelefono">
        </div>
        <div class="col-2">
            <label for="edad" class="form-label">Edad</label>
            <input type="text" class="form-control" id="edad">
        </div>
        <div class="col-md-4">
            <label for="sexo" class="form-label">Sexo</label>
            <select id="sexo" class="form-select">
                <option selected>Masculino</option>
                <option>Femenino</option>
            </select>
        </div>
        <hr>
        <p style="text-align:left"><b>DATOS DEL VEHICULO</b></p>
        <div class="col-4">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca">
        </div>
        <div class="col-4">
            <label for="modelo" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="modelo">
        </div>
        <div class="col-4">
            <label for="tipo" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="tipo">
        </div>
        <div class="col-4">
            <label for="cilindaraje" class="form-label">Cilindaraje</label>
            <input type="text" class="form-control" id="cilindaraje">
        </div>
        <div class="col-4">
            <label for="placa" class="form-label">Placa</label>
            <input type="text" class="form-control" id="placa">
        </div>
        <div class="col-4">
            <label for="color" class="form-label">Color</label>
            <input type="text" class="form-control" id="color">
        </div>
        <div class="col-md-4">
            <label for="servicios" class="form-label">SERVICIOS</label>
            <select id="servicios" class="form-select">
                <option selected>Mecanica Basica</option>
                <option>Mecanica Especializada</option>
                <option>Revision Automotriz</option>
                <option>Estetica Automotriz</option>
                <option>A Domicilio</option>
                <option>SOAT</option>
                <option>Desinfección</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">COTIZAR</button>
        </div>
        <hr>
        <div class="col-4">
            <label for="total" class="form-label">Total</label>
            <input type="text" class="form-control" id="total">
        </div>
    </form>
</div>