<div class="container">
    <div >
        <p style="text-align: center;"><b>REGISTRO EMPLEADO</b></p>
        <hr>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="Nombre">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido">
            </div>
            <div class="col-4">
                <label for="ncedula" class="form-label">Numero de cedula</label>
                <input type="text" class="form-control" id="ncedula">
            </div>
            <div class="col-8">
                <label for="ntelefono" class="form-label">Telefono</label>
                <input type="number" class="form-control" id="ntelefono">
            </div>
            <div class="col-2">
                <label for="edad" class="form-label">Edad</label>
                <input type="text" class="form-control" id="edad">
            </div>
            <div class="col-md-4">
                <label for="sexo" class="form-label">Sexo</label>
                <select id="sexo" class="form-select">
                    <option selected>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
            <hr>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>