<div class="container">
    <p style="text-align: center;"><b>REGISTRO MATERIALES</b></p>
    <hr>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre">
        </div>
        <div class="col-6">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad">
        </div>
        <div class="col-4">
            <label for="Precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="Precio">
        </div>
        <div class="col-4">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca">
        </div>
        <div class="col-4">
            <label for="tipo" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="tipo">
        </div>
        <hr>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary" text-aling:center>Registrar</button>
        </div>
    </form>
</div>